In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import pyspark
sc = pyspark.SparkContext(master="local[*]",appName="RDDfun")

https://archive.ics.uci.edu/ml/datasets/Adult

### Zmienne
**age**: continuous.

**workclass**: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.

_**fnlwgt**: continuous._

**education**: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.

**education-num**: continuous.

**marital-status**: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.

**occupation**: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.

**relationship**: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.

**race**: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.

**sex**: Female, Male.

**capital-gain**: continuous.

**capital-loss**: continuous.

**hours-per-week**: continuous.

**native-country**: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [ ]:
rawData = sc.textFile(".../adult.data")
rawData.take(2)

### Przygotowanie danych
- podzielenie stringow
- sprawdzenie czy występuja braki danych i ewentualne rozwiazanie problemu
- usuniecie niechcianej zmiennej `fnlwgt`
- cache() otrzymanego zbioru

### Wstępna eksploracja zmiennych
1. stworzenie wykresu zmiennej `age` ( (age, l.wystapien) -> plt.bar() )
2. zliczenie liczby wystapien poziomow zmiennej `workclass`
3. sprawdzenie czy czestosc wystapien wartosci zmiennej `education` zgadza sie z czestoscia wystapien zmiennej `education-num`; polaczenie poziomu wyksztalcenia z dlugoscia nauki wykorzystujac liczbe wystapien jako klucz
4. porownanie wykonywanych zawodow (`occupation`) przez osoby w zwiazku malzenskim (`marital-status` = 'Married-civ-spouse') oraz poza ('Never-married')
5. zliczenie liczby obserwacji dla kazdej wartosci zmiennej `relationship`
6. stworzenie macierzy kontyngencji `race` x `sex`
7. pogrupowanie obserwacji ze wzgledu na `capital-gain` w przedzialy ['0','1-1000','1001-10000','10001-50000','>50000'] oraz zliczenie liczby rekordow w kazdej z nich
8. pogrupowanie obserwacji ze wzgledu na `capital-loss` w przedzialy ['0','1-100','101-1000','1001-2000','>2000'] oraz zliczenie liczby rekordow w kazdej z nich
9. stworzenie histogramu zmiennej `hours-per-week` o przedzialach [0,8,16,24,32,40,48,56,64,72,80,88,96,100]
10. stworzenie wykresu zmiennej `native-country` (barplot)

### I dalej...
1. tabela zawierajaca kolumny: wiek, liczba obserwacji, % udzial kobiet, % udzial mezczyzn
2. tabela zawierajaca kolumny: wyksztalcenie, zawod (`occupation`), liczba obserwacji, sredni wiek, sredni `capital-gain`
3. crosstabela `education` x `sex` z liczba obserwacji i procentowym udzialem osob zarabiajacych `>50K`