In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=deef6f57effe91217d8f51b8d3364136c665187c46d762b3d646a0380150f3de
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [23]:
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType
from pyspark.sql.functions import col

In [12]:
spark = SparkSession.builder.appName("YourAppName").getOrCreate()

In [27]:
schema = StructType([
    StructField("Movie ID", IntegerType(), True),
    StructField("Type", StringType(), True),
    StructField("Title", StringType(), True),
    StructField("Director", StringType(), True),
    StructField("Starring", StringType(), True),
    StructField("Country", StringType(), True),
    StructField("Added to Netflix", DateType(), True),
    StructField("Release Year", IntegerType(), True),
    StructField("Rating", StringType(), True),
    StructField("Runtime", StringType(), True),
    StructField("Broadcasted on", StringType(), True),
    StructField("Description", StringType(), True),
])

In [28]:
df = spark.read.csv('./netflix_titles_dirty_01.csv', header=False, sep='\t', schema=schema, dateFormat='MMMM d, yyyy')

In [29]:
df.show()

+--------+-------+--------------------+--------------------+--------------------+--------------------+----------------+------------+--------+--------+--------------------+--------------------+
|Movie ID|   Type|               Title|            Director|            Starring|             Country|Added to Netflix|Release Year|  Rating| Runtime|      Broadcasted on|         Description|
+--------+-------+--------------------+--------------------+--------------------+--------------------+----------------+------------+--------+--------+--------------------+--------------------+
|81145628|  Movie|Norm of the North...|Richard Finn, Tim...|Alan Marriott, An...|United States, In...|      2019-09-09|        2019|   TV-PG|  90 min|Children & Family...|Before planning a...|
|80117401|  Movie|Jandino: Whatever...|                NULL|    Jandino Asporaat|      United Kingdom|      2016-09-09|        2016|   TV-MA|  94 min|     Stand-Up Comedy|Jandino Asporaat ...|
|70234439|TV Show|  Transformers Prime|                NULL|Peter Cullen, Sum...|       United States|      2018-09-08|        2013|TV-Y7-FV|1 Season|            Kids' TV|With the help of ...|
|80058654|TV Show|Transformers: Rob...|                NULL|Will Friedle, Dar...|       United States|      2018-09-08|        2016|   TV-Y7|1 Season|            Kids' TV|When a prison shi...|
|80125979|  Movie|        #realityhigh|    Fernando Lebrija|Nesta Cooper, Kat...|       United States|      2017-09-08|        2017|   TV-14|  99 min|            Comedies|When nerdy high s...|
|80163890|TV Show|             Apaches|                NULL|Alberto Ammann, E...|               Spain|      2017-09-08|        2016|   TV-MA|1 Season|Crime TV Shows, I...|A young journalis...|
|70304989|  Movie|            Automata|         Gabe Ibáñez|Antonio Banderas,...|Bulgaria, United ...|      2017-09-08|        2014|       R| 110 min|International Mov...|In a dystopian fu...|
|80164077|  Movie|Fabrizio Copano: ...|Rodrigo Toro, Fra...|     Fabrizio Copano|               Chile|      2017-09-08|        2017|   TV-MA|  60 min|     Stand-Up Comedy|Fabrizio Copano t...|
|80117902|TV Show|        Fire Chasers|                NULL|                NULL|       United States|      2017-09-08|        2017|   TV-MA|1 Season|Docuseries, Scien...|As California's 2...|
|70304990|  Movie|         Good People|   Henrik Ruben Genz|James Franco, Kat...|United States, Un...|      2017-09-08|        2014|       R|  90 min|Action & Adventur...|A struggling coup...|
|80169755|  Movie|Joaquín Reyes: Un...|José Miguel Contr...|       Joaquín Reyes|                NULL|      2017-09-08|        2017|   TV-MA|  78 min|     Stand-Up Comedy|Comedian and cele...|
|70299204|  Movie|Kidnapping Mr. He...|    Daniel Alfredson|Jim Sturgess, Sam...|Netherlands, Belg...|      2017-09-08|        2015|       R|  95 min|Action & Adventur...|When beer magnate...|
|80182480|  Movie|Krish Trish and B...|                NULL|Damandeep Singh B...|                NULL|      2017-09-08|        2009|   TV-Y7|  58 min|Children & Family...|A team of minstre...|
|80182483|  Movie|Krish Trish and B...|Munjal Shroff, Ti...|Damandeep Singh B...|                NULL|      2017-09-08|        2013|   TV-Y7|  62 min|Children & Family...|An artisan is che...|
|80182596|  Movie|Krish Trish and B...|Munjal Shroff, Ti...|Damandeep Singh B...|                NULL|      2017-09-08|        2016|    TV-Y|  65 min|Children & Family...|A cat, monkey and...|
|80182482|  Movie|Krish Trish and B...|        Tilak Shetty|Damandeep Singh B...|                NULL|      2017-09-08|        2012|   TV-Y7|  61 min|Children & Family...|In three comic-st...|
|80182597|  Movie|Krish Trish and B...|        Tilak Shetty|Rishi Gambhir, Sm...|                NULL|      2017-09-08|        2017|   TV-Y7|  65 min|Children & Family...|A cat, monkey and...|
|80182481|  Movie|Krish Trish and B...|                NULL|Damandeep Singh B...|                NULL|      2017-09-08|        2010|   TV-Y7|  58 min|Children & Family...|Animal minstrels ...|
|80182621|  Movie|Krish Trish and B...|Munjal Shroff, Ti...|Damandeep Singh B...|                NULL|      2017-09-08|        2013|   TV-Y7|  60 min|Children & Family...|The consequences ...|
|80057969|  Movie|                Love|          Gaspar Noé|Karl Glusman, Kla...|     France, Belgium|      2017-09-08|        2015|      NR| 135 min|Cult Movies, Dram...|A man in an unsat...|
+--------+-------+--------------------+--------------------+--------------------+--------------------+----------------+------------+--------+--------+--------------------+--------------------+
only showing top 20 rows

In [32]:
for column in df.columns:
    missing_count = df.where(col(column).isNull()).count()
    print(f"{column}: {missing_count} missing values")

Movie ID: 9 missing values
Type: 8 missing values
Title: 8 missing values
Director: 272 missing values
Starring: 107 missing values
Country: 111 missing values
Added to Netflix: 11 missing values
Release Year: 14 missing values
Rating: 14 missing values
Runtime: 12 missing values
Broadcasted on: 12 missing values
Description: 12 missing values

In [ ]:
#wyczyścić zbiór
#usunąć outliery